body {
  margin: 0;
}

.navbar {
  background-color: antiquewhite;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar > a {
  color: brown;
  text-decoration: none;
}
